@font-face {
  font-family: 'Cairo';
  src: url("../font/Cairo/Cairo-VariableFont_slnt,wght.ttf") format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
body {
  font-family: "Cairo", sans-serif;
}